version: "3"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - RABBITMQ_URI=value

    ports:
      - 8000:8000
    volumes:
      - .:/app

    depends_on:
      - db
  
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: admin
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - .dbdata:/var/lib/mysql
    ports:
      - 33066:3306